.bg {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/fax_desk_long-text.png");
}

form {
  width: 473px;
  height: 390px;
  position: absolute;
  left: 668px;
  top: 254px;
  display: flex;
  place-items: center;
  place-content: center;
}